.Control{
    pointer-events: none;
    
}

.Control .Axis{

}

.Control .Axis{
    height: 160px;
    width: 5px;
    background-color: black;
    margin: auto;
}

.Control .Axis .Bar{
    pointer-events: auto;
    width: 50px;
    height: 10px;
    background-color: black;
    cursor: n-resize;
    position: relative;
    left: -23px;
}

.Control .Value{
    text-align: center;
    width: 55px;
    background-color: #cccccc;
    padding: 5px 10px 5px 10px;
    font-family: Segoe UI;
    font-weight: 600;
    /* border-radius:10px; */
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    
}

.Control .Name{
    text-align: center;
    font-family: Segoe UI;
    font-weight: 800;
    font-size: 16px;
}

.Control .Units{
    font-size: 12px;
}