.Keyboard{
    margin-top: 10px;
    text-align: center;
}

.Octave{
    display: inline-block;
}

@keyframes play-white-note {
    0% {
        background-color: blue;
    }
    100% {
        background-color: rgb(47, 214, 32);
    }
}

@keyframes play-black-note {
    0% {
        background-color: blue;
    }
    100% {
        background-color: rgb(47, 214, 32);
    }
}


.Key.White.playing{
    background-color: blue;
}

.Key.Black.playing{
    background-color: blue;
}


.Key{
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.Key:hover{
    background-color: #888888;
}

.White{
    height: 50px;
    width: 14px;
    background-color: white;
}

.Black{
    height: 30px;
    width: 10px;
    background-color: black;
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
    top: -20px;
}

.active{
    background-color: rgb(47, 214, 32);
}

