.mode{
    width: 50px;
    height:50px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    display: flex;
    background-color: rgb(170, 255, 227);
}

.Mode_Container{
    display:flex;
    align-items:center;
}

.Mode_Container p{
    font-size: 20px;
    font-weight: 500;
    margin-right: 5px;
}

.up{

}

.down{

}

.updown{
}

.mode img{
    width:15px;
    height:15px;
    margin: auto;
}