

.Synthy{
    position: relative;
    height: 100%;
    background-color:#f2e8bb;
    padding:13px;
    box-sizing: border-box;
}

.Synthy .Mode_Container{
    text-align: left;
}

h1{
    font-family: Segoe UI;
    font-weight: 800;
    font-size: 40px;
    margin: 0;
    text-align: left;
}

.Synthy .Control_Bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}